.vscode
.vscode-test
out
src
node_modules
test-resources/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
webpack.config.js
tag-release.sh
tsfmt.json
Makefile
CHANGELOG.md
bump-version.sh
.github/
.circleci
*.vsix
test/
package.json