<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="{{{cssPath}}}">
</head>

<body>
	<form class="form">
		<h1>Create new script</h1>

		<div class="field" id="name">
			<label>Name</label>
			<input required="true" type="text" name="name" placeholder="My script name" value="">
		</div>

		<div class="field" id="description">
			<label>Description</label>
			<textarea name="description"></textarea>
		</div>

		<div class="field" id="language">
			<input type="hidden" name="language" value="flux">
		</div>

		<div class="actions">
			<span class="blue button" id="save" tabindex="0">Next</span>
		</div>
	</form>
	<script src="{{{jsPath}}}"></script>
</body>

</html>
