body {
  background-color: #333333
}

.hidden {
  display: none;
}

form h1 {
  font-size: 18px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  padding-bottom: 5px;
}

form .field {
  margin-bottom: 15px;
}

form .field > label {
  display: block;
  margin: 0;
  font-size: 12px;
  text-transform: none;
  margin-bottom: 5px;
}

form input,
form select {
  padding: 2px;
  font-size: 12px;
  background: #ffffff;
  outline: 0;
  border: none;
  color: #000000;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
  border-radius: 0;
}

form select {
  line-height: 16px;
  width: 100px;

  border-radius: 0;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

form select option {
  padding-left: 15px;
  padding-right: 15px;
}

form input {
  width: 250px;
}

.blue {
  background-color: #2185d0;
}

.teal {
  background-color: #00b5ad;
}

.button {
  cursor: pointer;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #ffffff;

  text-align: center;
}

.actions {
  margin-top: 25px;
}

/* Error */
form .field.error .input,
form .field.error label,
form .fields.error .field .input,
form .fields.error .field label {
  color: #9f3a38;
}

form .field.error input,
form .field.error select,
form .field.error textarea,
form .fields.error .field input,
form .fields.error .field select,
form .fields.error .field textarea {
  background: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
  box-shadow: none;
}

::-webkit-input-placeholder {
  color: #AAA;
}
