<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{{cssPath}}}" />
</head>

<body>
  {{#results.tables}}
  <table>
    {{! This sticky doesn't currently work, as the user agent is too old for
        this feature. It is here in the case that the user-agent is updated.
      !}}
    <thead class="sticky">
      <tr>
        <th colspan="{{head.length}}">{{result}}</th>
      </tr>
      <tr>
        {{#head}}
        <th>{{label}}{{#group}}*{{/group}}</th>
        {{/head}}
      </tr>
    </thead>
    <tbody>
      {{#rows}}
      <tr>
        {{# . }}
        <td>{{.}}</td>
        {{/ .}}
      </tr>
      {{/rows}}
    </tbody>
  </table>

  <br />
  {{/results.tables}}
</body>

</html>